.DS_Store
*.out*
*.zip
logs
.~*
output
#*.html
*.pdf
data/transactions/csv/*
data/transactions/parquet/*
.vscode
*.csv
.*
*.data
_SUCCESS
*.orc
*.parquet
*.json


## Python
__pycache__/
*.py[cod]
*$py.class
## Jupyter Notebook
.ipynb_checkpoints
*.prof

