.DS_Store
*.out*
*.zip
logs
.~*
output
*.html
*.pdf
data/transactions/csv/*
data/transactions/parquet/*
.vscode
csv
.*


## Python
__pycache__/
*.py[cod]
*$py.class
## Jupyter Notebook
.ipynb_checkpoints
*.prof

